
    <div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Přidat produkt</h3>
        </div>
        <div class="panel-body">
          <!-- Začátek formu -->
          <form role="form" action="/admin/editProduct" method="post">
            <div class="row">
               <input type="hidden" id="id" name="id" value="{{product.id_vyr}}">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <!-- Input pro jméno -->
                  <a>Název</a>
                  <input type="text" name="nazev" id="nazev" class="form-control input-sm"
                    value="{{product.nazev}}" >
                </div>
              </div>
            </div>
             <div class="form-group">
                  <!-- Input pro cenu-->
                  <a>Cena</a>
                  <input type="text" name="cena" id="price" class="form-control input-sm" value="{{product.cena}}" >
                </div>
            <div class="form-group">
              <!-- Input pro popis-->
              <a>Složení</a>
              <input type="text" name="popis" id="popis" class="form-control input-sm" value="{{product.popis}}" >              

            </div>
            <label for="druhy">Druh výrobku:</label>
            <select id="food" name="druhy">
            <option value="1" name="1">Pizza</option>
            <option value="2" name="2">Piti</option>
            </select>
            <!-- Button na odeslání formu-->
            <div class="form-group">
              <input type="submit" value="Upravit" class="btn btn-info btn-block">
            </div>
         </div>
        </form>
      </div>
    </div>
  </div>
</div>
