<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">U Pepegy</a>
    </div>
  </div>
</nav>
    <section class="register-form">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Registrace</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Jméno</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Příjmení</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Telefon</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Heslo</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Registrovat</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--tabulka pro kontakní udaje-->           
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Kontakty
            </h4>
            <div class="contact_link_box">
              <a href="https://www.google.com/maps/place/Jahodov%C3%A1,+415+01+Teplice/@50.6513917,13.8272338,17z/data=!3m1!4b1!4m5!3m4!1s0x47098e6183f9a765:0x220f2b10d1456df6!8m2!3d50.6513883!4d13.8294225" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Jahodvá 123, Teplice
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  +420 775 715 735
                </span>
              </a>
              <a href="mailto:Upepegy@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  Upepgy@gmail.com
                </span>
              </a>
              <a>
                <i class="fa-solid fa-credit-card" aria-hidden="true"></i>
                <span>
                  Hotově, kartou
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              U Pepegy
            </a>
            <p>
              Vaše oblíbená pizzeria se super cenami a nejrychlejším dovozem v okolí :)
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/home?lang=cs" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Otevírací doba
          </h4>
          <p>
            Každý den
          </p>
          <p>
            10:00 - 23:00 
          </p>
        </div>
      </div>
    </div>
  </footer>