body { 
	background: #e1f4f3; 
}

.navbar-inverse {
  background-color:#706c61;
  border-color: #706c61;
  margin-bottom: 20px;
}

#nav {
  border-radius: 0px;
}
#tlacitko {
  transition: transform 0.5s;
}
#tlacitko:hover { 
  transform: scale(1.05);
}