<nav class="navbar navbar-inverse" id="nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">U Pepegy</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <li><form action="/logout?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger" id="tlacitko">Odhlásit</button></form></li>
    </ul>
    </div>
  </nav>
<div class="obrazek">
<div class="lalala">
<a href="/"><img class="rounded-circle mt-5" id="obrazek" width="150px" height="150px" src='/profilePics/1655149929722.png'></a>
<br>
<strong>Objednávka odeslána</strong>
</div>
</div>