body { 
	background: #e1f4f3;
  font-family: 'Dancing Script', cursive;
}

.navbar-inverse {
  background-color:#706c61;
  border-color: #706c61;
  height: 100px;
  margin-bottom: 100px;
}

#nav {
  border-radius: 0px;
}

#tlacitko {
  transition: transform 0.5s;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#tlacitko:hover { 
  transform: scale(1.05);
}
.vypln{
  height: 200px;  
}
.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  header {
    display: flex;
    flex-basis: 100%;
    grid-area: header;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
  }

 