body { 
	background: #e1f4f3;
    font-family: 'Dancing Script', cursive; 
}

.navbar-inverse {
  background-color:#706c61;
  border-color: #706c61;
  height: 100px;
  margin-bottom: 100px;
}
#nav {
    border-radius: 0px;
  }

#tlacitko:hover { 
    transform: scale(1.05);
}
#tlacitko {
    transition: transform 0.5s;
  }
.form-control:focus {
    box-shadow: none;
    border-color: #706c61
}

.profile-button {
    background: #706c61;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #222831
}

.profile-button:focus {
    background: #706c61;
    box-shadow: none
}

.profile-button:active {
    background: #706c61;
    box-shadow: none
}

.back:hover {
    color: #706c61;
    cursor: pointer
}

.labels {
    font-size: 11px
}

img {
    border: 2px solid black;
}
  