body { 
	background: #e1f4f3; 
}
.centered-form {
	margin-top: 200px;
}
.centered-form .panel-heading{
	color: white;
	background: #333333;

}
.centered-form .panel {
	background-color: #333333;
}
.footer {
    position: fixed;
    width:100%;
    bottom: 0;
}
#footer {
	background-color: #333333;
}

  