
body {
    background-color: rgb(170, 32, 32);
}
.navbar-inverse {
    background-color:#0f1011;
}
.navbar-menu {
    display: flex; justify-content:center
}
.about {
    border-style: solid;
    margin-left: 150px;
    margin-right: 150px;
    background-color:grey
}

.openinghours {
    font-family:Lucida Console;
    background-color: white;
    border-radius:4px;
    margin:10px;
    box-shadow: 0 0 10px black;
    padding:0 10px 0 10px;
    overflow: hidden;
    display: inline-block;
}
.openinghourscontent {
    float:left;
}
.openinghourscontent h2 {
    display:block;
    text-align:center;
    margin-top:.33em;
}
.openinghourscontent button {
    color:white;
    font-family:Courier New;
    font-size:large;
    font-weight:bolder;
    background-color:#4679BD;
    border-radius:4px;
    width:100%;
    margin-bottom:10px;
}
.today {
    color: #8AC007;
}
.opening-hours-table tr td:first-child {
    font-weight:bold;
}
#open-status {
    display:block;
    margin-top:-1em;
    text-align:center;
    border:dotted lightgrey 3px;
}
.openorclosed:after {
    content:" open during these hours:";
}
.open {
    color:green;
}
.open:after {
    content:" Open";
    color: #6C0;
}
.closed:after {
    content:" Closed";
    color: red;
}
.opening-hours-table tr td {
    padding:5px;
}





#footer {
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.bg-2 {
    background-color: #0f1011;
    color: #9D9D9D;
}



