body {
	background-color: rgb(170, 32, 32);
}

/* .thumbnail {
    width: 400px;
    background-color: green;
    border-color: #333333;
}

.thumbnail img {
    max-height: 150px;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.btn {
    border-color: #333333;
    background-color:rgb(170, 32, 32);
    width: 50px;
}
.btn:hover {
    background-color: #d65959;
    border-color: #d65959;
}
 */
