body {
	background-color: rgb(170, 32, 32);
}

#tlacitko {
    background-color:rgb(2, 116, 2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#tlacitko:hover {
    background-color: rgb(13, 177, 13);
}
